<div class="dockcontac" style="text-align: right">

    <ul *ngIf="home=='T'">
        <li id="contacto">
            <a href="#contacto">
                <!--
                <em>
                    <span>Cóntactenos</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/contactanos.svg"/>
            </a>
        </li>
        <li id="youtube">
            <a href="https://www.youtube.com/channel/UCMz7sdSckH2zcwHG1vrL1UA" target="_blank">
                <!--
                <em>
                    <span>Síguenos en Youtube</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/youtube.svg"/>
            </a>
        </li>
        <li id="Fb">
            <a href="https://www.facebook.com/tuneo.pe/" target="_blank">
                <!--
                <em>
                    <span>Síguenos en Facebook</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/fb.svg"  />
            </a>
        </li>
        <li id="Inst">
            <a href="https://www.instagram.com/tuneo.pe" target="_blank">
                <!--
                <em>
                    <span>Síguenos en Instagram</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/instagram.svg" />
            </a>
        </li>
        <li id="Ws">
            <a href="http://wa.link/3vrg9e" target="_blank">
                <!--
                <em>
                    <span>Escríbemos</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/whatsapp.svg" />
            </a>
        </li>

        <li id="Cont">
            <a href="#Cont">
                <!--
                <em>
                    <span>Chat online</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/chat.svg" ng-click="setPagina(7)" />
            </a>
        </li>

    </ul>
    <ul *ngIf="home=='A'">
        <li id="contacto">
            <a href="#contacto">
                <!--
                <em>
                    <span>Cóntactenos</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/contactanos-arq.svg"/>
            </a>
        </li>
        <li id="youtube">
            <a href="https://www.youtube.com/channel/UCMz7sdSckH2zcwHG1vrL1UA" target="_blank">
                <!--
                <em>
                    <span>Síguenos en Youtube</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/youtube-arq.svg"/>
            </a>
        </li>
        <li id="Fb">
            <a href="https://www.facebook.com/tuneo.pe/" target="_blank">
                <!--
                <em>
                    <span>Síguenos en Facebook</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/fb-arq.svg"  />
            </a>
        </li>
        <li id="Inst">
            <a href="https://www.instagram.com/tuneo.pe" target="_blank">
                <!--
                <em>
                    <span>Síguenos en Instagram</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/instagram-arq.svg" />
            </a>
        </li>
        <li id="Ws">
            <a href="wa.link/3vrg9e" target="_blank">
                <!--
                <em>
                    <span>Escríbemos</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/whatsapp-arq.svg" />
            </a>
        </li>

        <li id="Cont">
            <a href="#Cont">
                <!--
                <em>
                    <span>Chat online</span>
                </em>
                -->
                <img src="assets/images/partes/menu/principal/chat-arq.svg" ng-click="setPagina(7)" />
            </a>
        </li>

    </ul>
</div>