<p class="carrito-sub">DATOS DE IDENTIFICACIÓN</p>
<hr>
<div class="row">
    <div class="col-6">
        <label>Nombres</label><input type="text" class="i-nom">
        <label>Apellidos</label><input type="text" class="i-ape">
    </div>
    <div class="col-6">
        <label>DNI</label><input type="text" class="i-dni">
        <label>Correo</label><input type="text" class="i-mail">
        <label>Teléfono</label><input type="text" class="i-telefono">
    </div>    
</div>

<p class="carrito-sub">DATOS DE ENVÍO</p>
<hr>
<div class="row">
    <div class="col-6">
        <label>Dirección</label><input type="text" class="i-dir">
    </div>
    <div class="col-2">
        <label>Distrito</label><input type="text" class="i-distrito">
    </div>
    <div class="col-2">
        <label>Provincia</label><input type="text" class="i-provincia">
    </div>
    <div class="col-2">
        <label>Código Postal</label><input type="text" class="i-postal">
    </div>
</div>

<p class="carrito-sub">DATOS DE FACTURACIÓN</p>
<hr>
<div class="row">
    <div class="col-6">
        <label>Dirección</label><input type="text" class="i-dir">
    </div>
    <div class="col-2">
        <label>Distrito</label><input type="text" class="i-distrito">
    </div>
    <div class="col-2">
        <label>Provincia</label><input type="text" class="i-provincia">
    </div>
    <div class="col-2">
        <label>Código Postal</label><input type="text" class="i-postal">
    </div>
</div>
<div class="row">
    <div class="col-2">
        <input type="radio" name="doc"> Boleta
        <input type="radio" name="doc"> Factura
    </div>
    <div class="col-4">
        <label>Razón Social</label><input type="text" class="i-raz-soc">
    </div>
    <div class="col-2">
        <label class="l-ruc">RUC</label><input type="text" class="i-ruc">
    </div>
</div>

<p class="carrito-sub">OTROS DATOS IMPORTANTES</p>
<hr>
<div class="row">
    <div class="col-12">
        <textarea class="t-datos" placeholder="ESCRIBE AQUÍ ALGÚN DATO QUE CREAS QUE NECESITEMOS SABER. &#10;Como si se dejará el pedido en recepción, referencias para llegar, si el pedido lo recibirá otra persona, etc."></textarea>
    </div>
</div>

