input[type=text]{
    font-size: small;
    border-radius: 0.25rem;
    background-color: #F1F1F1;
    border: 0;
}
.carrito-sub{
    margin: 0.5vh 0;
    font-size: 1.2rem;
}
.i-nom{
    margin-left: 1vw;
    margin-right: 1vw;
    width: 18vw;
}
.i-ape{
    margin-left: 1vw;
    width: 18vw;
}
.i-dir{
    margin-left: 1.5vw;
    width: 41vw;
    margin-bottom: 1.5vh;
}
.i-raz-soc{
    margin-left: 1.5vw;
    width: 24.3vw;
}
.i-dni{
    margin-left: 1vw;
    width: 8vw;
    margin-right: 1vw;
}
.i-distrito{
    margin-left: 1vw;
    width: 10vw;
}
.i-provincia{
    margin-left: 1vw;
    width: 9vw;
}
.i-postal{
    margin-left: 1vw;
    width: 8vw;
}
.i-mail{
    margin-left: 1vw;
    width: 16vw;
    margin-right: 1vw;
}
.i-telefono{
    margin-left: 1vw;
    width: 8vw;
}
.l-ruc{
    margin-left: 1vw;
    margin-right: 2.2vw;
}
.i-ruc{
    width: 10vw;
}
.t-datos{    
    width: 96.5vw;
}
.btn-cont{
    background-color: #F8EC25;
    font-size: 1.1rem;
    width: 9vw;
}
.der{
    text-align: right;
}