<div class="pedidos">
    <div class="p1">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
    <div class="p2">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
    <div class="p3">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
    <div class="p4">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
    <div class="p5">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
    <div class="p6">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
    <div class="p7">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
    <div class="p8">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
    <div class="p9">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
    <div class="p10">
        <p>ELEFANTE PORTA-CUENTOS</p>
        <div class="row producto">
            <div class="col-6">
                <img src="assets/images/productos/oveja-grid.jpg">
            </div>
            <div class="col-6">
                <p class="bold">SUPERFICIE</p>
                <p>Laminado Textura Blanco rústico</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>Precio: S/. 190.00</p>
                <p class="float">Cantidad:</p> 
                <select name="" id="">
                    <option value="01">1</option>
                </select>
            </div>
            <div class="col-6">                        
                <button>EDITAR</button>
                <button>ELIMINAR</button>
            </div>                    
        </div>
    </div>
</div>