<tuheader [(header)]="header"></tuheader>
<div class="filtro">
    <div class="gf2 row">
        <div class="col-4 atext">
            EDAD:
        </div>
        <div class="col-4 t-center" (click)="filtrar(1)">
            <div class="aadulto"></div>
            <span>Adultos</span>
        </div>
        <div class="col-4 t-center" (click)="filtrar(2)">
            <div class="aninio"></div>
            <span>Niños</span>
        </div>
    </div>
    <div class="gf3 row">
        <div class="gf3-1 atext">
            USO:
        </div>
        <div class="gf3-2 t-center" (click)="filtrar(3)">
            <div class="alibrero"></div>
            <div class="textlib">Repisas y libreros</div>
        </div>
        <div class="gf3-3 t-center" (click)="filtrar(4)">
            <div class="asilla"></div>
            <span>Sillas</span>
        </div>
        <div class="gf3-4 t-center" (click)="filtrar(6)">
            <div class="amesa"></div>
            <span>Mesas</span>
        </div>
        <div class="gf3-5 t-center" (click)="filtrar(5)">
            <div class="aaccesorio"></div>
            <span>Accesorios</span>
        </div>
    </div>
    <div class="gf4 row t-center">
        <div class="gf4-1 atext">
            FORMA:
        </div>
        <div class="gf4-2 t-center" (click)="filtrar(7)">
            <div class="ageometrica"></div>
            <span>Geométrica</span>
        </div>
        <div class="gf4-3 t-center" (click)="filtrar(8)">
            <div class="anaturaleza"></div>
            <span>Naturaleza</span>
        </div>
        <div class="gf4-4 t-center" (click)="filtrar(9)">
            <div class="afantasia"></div>
            <span>Fantasía</span>
        </div>
        <div class="gf4-5 t-center" (click)="filtrar(10)">
            <div class="apersonaje"></div>
            <span>Personajes</span>
        </div>
    </div>
    <div class="gf1">
        <!--
        <div class="row">
            <div class="atext arecom">
                TE RECOMENDAMOS:
            </div>
            <div class="aoferta"></div>
            <div class="anuevo"></div>
            <div class="atop"></div>
        </div>
        -->
        <div class="row ordena">
            <div class="aordena">
                ORDENAR POR:
            </div>
            <div class="lista">
                <select name="" class="ordenar-select">
                    <option value="">De menor a mayor precio</option>
                </select>
            </div>
        </div>
    </div>
</div>
<grilla-producto></grilla-producto>