<div class="ajuste">
    <div class="titulo">
        DATOS DE CUENTA
    </div>
    <div class="detalle">
        <input type="text" placeholder="NOMBRES Y APELLIDOS"> 
        <input type="text" placeholder="CORREO"> 
        <input type="text" placeholder="CONTRASEÑA"> 
        <input type="text" placeholder="EDAD"> 
        <button>CAMBIAR DATOS</button>
    </div>
    <div class="titulo">
        INFORMACIÓN DE ENVÍO
    </div>
    <div class="detalle">
        <input type="text" placeholder="DIRECCIÓN"> 
        <input type="text" placeholder="CÓDIGO POSTAL"> 
        <input type="text" placeholder="TELÉFONO"> 
        <button>CAMBIAR DATOS</button>
    </div>
</div>
