@font-face {
    font-family: BebasNeueRegular;
    src: url(assets/fonts/BEBASNEUE-REGULAR.OTF) format("opentype");
}
@font-face {
    font-family: BebasNeueBold;
    src: url(assets/fonts/BEBASNEUE-BOLD.OTF) format("opentype");
}
/*
@font-face {
    font-family: BebasNeueBook;
    src: url(assets/fonts/BEBASNEUE-BOOK.OTF) format("opentype");
}
*/
/*
@font-face {
    font-family: BebasNeueLight;
    src: url(assets/fonts/BEBASNEUE-LIGHT.OTF) format("opentype");
}
*/
/*
@font-face {
    font-family: BebasNeueThin;
    src: url(assets/fonts/BEBASNEUE-THIN.OTF) format("opentype");
}
*/
/*
@font-face {
    font-family: SansProBlack;
    src: url(assets/fonts/SOURCESANSPRO-BLACK.OTF) format("opentype");
}
*/
/*
@font-face {
    font-family: SansProBlackit;
    src: url(assets/fonts/SOURCESANSPRO-BLACKIT.OTF) format("opentype");
}
*/
@font-face {
    font-family: SansProBold;
    src: url(assets/fonts/SOURCESANSPRO-BOLD.OTF) format("opentype");
}
/*
@font-face {
    font-family: SansProBoldit;
    src: url(assets/fonts/SOURCESANSPRO-BOLDIT.OTF) format("opentype");
}
*/
/*
@font-face {
    font-family: SansProExtraLight;
    src: url(assets/fonts/SOURCESANSPRO-EXTRALIGHT.OTF) format("opentype");
}
*/
/*
@font-face {
    font-family: SansProExtraLightit;
    src: url(assets/fonts/SOURCESANSPRO-EXTRALIGHTIT.OTF) format("opentype");
}
*/
/*
@font-face {
    font-family: SansProIt;
    src: url(assets/fonts/SOURCESANSPRO-IT.OTF) format("opentype");
}
*/
/*
@font-face {
    font-family: SansProLight;
    src: url(assets/fonts/SOURCESANSPRO-LIGHT.OTF) format("opentype");
}
*/
/*
@font-face {
    font-family: SansProLightit;
    src: url(assets/fonts/SOURCESANSPRO-LIGHTIT.OTF) format("opentype");
}
*/
@font-face {
    font-family: SansProRegular;
    src: url(assets/fonts/SOURCESANSPRO-REGULAR.OTF) format("opentype");
}
/*
@font-face {
    font-family: SansProSemiBold;
    src: url(assets/fonts/SOURCESANSPRO-SEMIBOLD.OTF) format("opentype");
}

@font-face {
    font-family: SansProSemiBoldit;
    src: url(assets/fonts/SOURCESANSPRO-SEMIBOLDIT.OTF) format("opentype");
}
*/



.BebasNeueRegular {
    font-family: "BebasNeueRegular";
}
.BebasNeueBold {
    font-family: "BebasNeueBold";
}
/*
.BebasNeueBook {
    font-family: "BebasNeueBook";
}
*/
/*
.BebasNeueLight {
    font-family: "BebasNeueLight";
}
*/
/*
.BebasNeueThin {
    font-family: "BebasNeueThin";
}
*/
/*
.SansProBlack {
    font-family: "SansProBlack";
}
*/
/*
.SansProBlackit {
    font-family: "SansProBlackit";
}
*/
.SansProBold {
    font-family: "SansProBold";
}
/*
.SansProBoldit {
    font-family: "SansProBoldit";
}
*/
/*
.SansProExtraLight {
    font-family: "SansProExtraLight";
}
*/
/*
.SansProExtraLightit {
    font-family: "SansProExtraLightit";
}
*/
/*
.SansProIt {
    font-family: "SansProIt";
}
*/
/*
.SansProLight {
    font-family: "SansProLight";
}
*/
/*
.SansProLightit {
    font-family: "SansProLightit";
}
*/
.SansProRegular{
    font-family: "SansProRegular";
}
/*
.SansProSemiBold {
    font-family: "SansProSemiBold";
}

.SansProSemiBoldit {
    font-family: "SansProSemiBoldit";
}
*/
