<tuheader [(header)]="header"></tuheader>
<div class="especial-filtro">
    
    <div class="ef-2">
        <div class="ef-2-1 atext">
            USO:
        </div>
        <div class="ef-2-2">       
            <div class="amesa"></div>
            <span class="t-center">Puertas</span>
        </div>
        <div class="ef-2-3">
            <div class="amesa"></div>
            <span class="t-center">Cabeceras</span>
        </div>
        <div class="ef-2-4">
            <div class="amesa"></div>
            <span class="t-center">Mesas</span>
        </div>
        <div class="ef-2-5">
            <div class="amesa"></div>
            <span class="t-center">Almacenamiento</span>
        </div>
    </div>
    <div class="ef-3">
        <div class="ef-3-1 atext">
            FORMA:
        </div>
        <div class="ef-3-2">
            <div class="ageometrica"></div>
            <span class="t-center">Geométricas</span>
        </div>
        <div class="ef-3-3">
            <div class="aorganica"></div>
            <span class="t-center">Orgánicas</span>
        </div>
    </div>
    <div class="ef-1">
        <!--
        <div class="row">
            <div class="areco atext">
                TE RECOMENDAMOS:
            </div>
            <div class="aoferta">
            </div>
            <div class="anuevo">
            </div>
            <div class="atop">
            </div>       
        </div>  
        -->
        <div class="row ordena">
            <div class="aordena">
                ORDENAR POR:
            </div>
            <div class="lista">
                <select name="" class="ordenar-select">
                    <option value="">De menor a mayor precio</option>
                </select>
            </div>
        </div>
    </div>
</div>
<grilla-modular></grilla-modular>
<!--
<div class="cinta">
    <div class="cinta-1"><p>Muy pronto</p></div>
    <div class="cinta-2"></div>
</div>
 [(productos)]="productos"
-->
