<div class="row fondo-mensaje">
    <div class="row fondo_msg_2 bd_down">
        <div class="asunto-todos">
            <div class="etodos bd_right"><input type="checkbox">Todos</div>
        </div>
        <div class="mensaje">Eliminar</div>
    </div>
    <div class="row scrollbar">
        <div class="row fondo_msg">
            <div class="col-10 bd_right fragmento">
                <div class="col-11">
                    <input type="checkbox">¡Comparte en Facebook y gana 50% de descuento en armables - Elefantes!
                </div>
                <div class="col-1" style="text-align: right">
                    <img src="assets/images/partes/menu/principal/ic_mas_info.png">
                </div>
            </div>
            <div class="col-2 fragmento">
                <p class="bolder">USAR CUPÓN</p>
                <p>Vence 10/02/2020</p>
            </div>
        </div>
        <div class="row fondo_msg">
            <div class="col-10 bd_right fragmento">
                <div class="col-11">
                    <input type="checkbox">¡Comparte en Facebook y gana 50% de descuento en armables - Elefantes!
                </div>
                <div class="col-1" style="text-align: right">
                    <img src="assets/images/partes/menu/principal/ic_mas_info.png">
                </div>
            </div>
            <div class="col-2 fragmento">
                <p class="bolder">USAR CUPÓN</p>
                <p>Vence 10/02/2020</p>
            </div>
        </div>
        <div class="row fondo_msg">
            <div class="col-10 bd_right fragmento">
                <div class="col-11">
                    <input type="checkbox">¡Comparte en Facebook y gana 50% de descuento en armables - Elefantes!
                </div>
                <div class="col-1" style="text-align: right">
                    <img src="assets/images/partes/menu/principal/ic_mas_info.png">
                </div>
            </div>
            <div class="col-2 fragmento">
                <p class="bolder">USAR CUPÓN</p>
                <p>Vence 10/02/2020</p>
            </div>
        </div>
        <div class="row fondo_msg">
            <div class="col-10 bd_right fragmento">
                <div class="col-11">
                    <input type="checkbox">¡Comparte en Facebook y gana 50% de descuento en armables - Elefantes!
                </div>
                <div class="col-1" style="text-align: right">
                    <img src="assets/images/partes/menu/principal/ic_mas_info.png">
                </div>
            </div>
            <div class="col-2 fragmento">
                <p class="bolder">USAR CUPÓN</p>
                <p>Vence 10/02/2020</p>
            </div>
        </div>
        <div class="row fondo_msg">
            <div class="col-10 bd_right fragmento">
                <div class="col-11">
                    <input type="checkbox">¡Comparte en Facebook y gana 50% de descuento en armables - Elefantes!
                </div>
                <div class="col-1" style="text-align: right">
                    <img src="assets/images/partes/menu/principal/ic_mas_info.png">
                </div>
            </div>
            <div class="col-2 fragmento">
                <p class="bolder">USAR CUPÓN</p>
                <p>Vence 10/02/2020</p>
            </div>
        </div>
        <div class="row fondo_msg">
            <div class="col-10 bd_right fragmento">
                <div class="col-11">
                    <input type="checkbox">¡Comparte en Facebook y gana 50% de descuento en armables - Elefantes!
                </div>
                <div class="col-1" style="text-align: right">
                    <img src="assets/images/partes/menu/principal/ic_mas_info.png">
                </div>
            </div>
            <div class="col-2 fragmento">
                <p class="bolder">USAR CUPÓN</p>
                <p>Vence 10/02/2020</p>
            </div>
        </div>
        
    </div>
</div>