<tuheader [(header)]="header"></tuheader>
<div class="uso-sub-component">
    <div class="uso-sub-title">
        <div>
            <h3>PUERTA</h3>
            <span>4.8</span>
        </div> 
        <span>Detalle de la calificación</span>
    </div>
    <div class="uso-sub-main"></div>
    <div class="uso-sub-metrics line">
        <h4>MEDIDAS</h4>
        <h4 class="uso-sub-metrics-desc">Ancho de la puerta</h4>
        <ul class="flex-container">
            <li class="flex-item">0.65</li>
            <li class="flex-item">0.70</li>
            <li class="flex-item">0.75</li>
            <li class="flex-item">0.80</li>
            <li class="flex-item">0.85</li>
            <li class="flex-item">0.90</li>
            <li class="flex-item">0.95</li>
            <li class="flex-item">1.00</li>
        </ul>
        <span>La altura de todas las puertas es 2.07 m</span>
        <span>El espesor de todas las puertas es 36mm</span>
    </div>
    <div class="uso-sub-material line">
        <h4>MADERA</h4>
        <ul>
            <li>Pino</li>
            <li>Tornillo</li>
        </ul>
        <span>Trabajamos con tableros encolados de madera tratada</span>
    </div>
    <div class="uso-sub-design line">
        <h4>DISEÑO</h4>
        <ul class="flex-container">
            <li class="flex-item"></li>
            <li class="flex-item"></li>
            <li class="flex-item"></li>
            <li class="flex-item"></li>
            <li class="flex-item"></li>
            <li class="flex-item"></li>
            <li class="flex-item"></li>
            <li class="flex-item"></li>
        </ul>
    </div>
    <div class="uso-sub-color line">
        <h4>COLOR</h4>
        <ul class="flex-container">
            <li class="flex-item-tipo-pintado">Pintado Poliester</li>
            <li class="flex-item-tipo-pintado">Pintado Acrílico</li>
            <li class="flex-item-tipo-pintado">Pintado Aceite Nat</li>
        </ul>
        <ul class="flex-container color">
            <li class="flex-item-color blanco"></li>
            <li class="flex-item-color blanco"></li>
            <li class="flex-item-color gris"></li>
            <li class="flex-item-color negro"></li>
            <li class="flex-item-color crema"></li>
            <li class="flex-item-color rojo"></li>
            <li class="flex-item-color azul"></li>
            <li class="flex-item-color verde"></li>
            <li class="flex-item-color morado"></li>
            <li class="flex-item-color celeste"></li>
        </ul>
    </div>
    <div class="uso-sub-description line">
        <p>DESCRIPCIÓN</p>
            <div class="row">
                <div class="col-3">MEDIDAS:</div><div class="col-9">0.57x0.40x0.36m</div>
                <div class="col-3">PESO:</div><div class="col-9">10 kg</div>
                <div class="col-3">DISEÑO:</div><div class="col-9">Contrachapado de Pino</div>
                <div class="col-3">MADERA:</div><div class="col-9">Laminado Color Blanco</div>
                <div class="col-3">COLOR:</div><div class="col-9">Natural</div>
            </div>
    </div>
    <div class="uso-sub-price">
        <div>
            <p class="tprecio">PRECIO: S/. 210  S/. 190</p>
            <img class="oferta" src="assets/images/partes/menu/principal/oferta.svg">            
        </div>
    </div>
    <div class="uso-sub-buttons">
        <button>
            GUARDAR
            <img class="guardar" src="assets/images/partes/menu/principal/corazon.svg">    
        </button>
        <button>
            COMPRAR
            <img class="guardar" src="assets/images/partes/menu/principal/carritoCompra.svg">    
        </button>
    </div>
</div>

