.uso-sub-component{
    height: 72.8vh;

    background-color: khaki;
    
    width: 99vw;
    
    margin: 0 0.5vw;
    
    display: grid;
    
    grid-template-columns: 36% 31% 33%;
    
    grid-template-rows: 15% 8% 10% 12% 26% 18% 6% 5%;
}
.uso-sub-main{
    background-color: yellowgreen;

    grid-column-start: 1;
    
    grid-column-end: 3;
    
    grid-row-start: 2;
    
    grid-row-end: 6;
}

.uso-sub-metrics{
    grid-column-start: 3;

    grid-column-end: 4;
    
    grid-row-start: 1;
    
    grid-row-end: 3;
    .uso-sub-metrics-desc{
        margin-top: -1.7vw;
    }
    h4{
        margin-top: 0.283vw;
    }
    span{
        display: block;
        margin-top: 0.2vw;
        margin-bottom: -0.3vw
    }
}
.flex-container{
    list-style: none;

    margin-top: -1.3vw;
    
    display: flex;

    justify-content: space-around;
}
.flex-item{
    background: tomato;

    padding: 0.2vw;
    
    color: white;
    
    font-weight: bold;
    
    font-size: 1.4vw;
    
    text-align: center;
    
    margin-right: 0.3vw;
}
.line{
    border-bottom: 0.2vw solid gray;
    padding-bottom: 0.3vw;
}
.uso-sub-material{
    grid-column-start: 3;

    grid-column-end: 4;
    
    grid-row-start: 3;
    
    grid-row-end: 4;
    display: flex;
    h4{
        margin-top: 0.9vw;
    }
    span{
        // margin-top: 1.2vw;

        margin-bottom: 2.7vw;

        font-size: 1.2vw;
        margin-left: 1.5vw;
    }
    ul{
        list-style: none;
        display: flex;
        margin-left: 1.5vw;
        margin-top: 0.3vw

    }
    li{
        justify-content: space-around;

        background: #e5f0c3;

        padding: 0.2vw;

        height: 1.2vw;
    }

}
.uso-sub-design{
    grid-column-start: 3;

    grid-column-end: 4;
    
    grid-row-start: 4;
    
    grid-row-end: 5;
    h4{
        margin-top: 0.283vw;
    }
    .flex-item{
        background: tomato;
        padding: 0.2vw;
        color: white;
        font-weight: bold;
        font-size: 0.4vw;
        text-align: center;
        width: 1.3vw;
        height: 1.3vw;
    }
    .flex-item:first-child{
        margin-left: 0.7vw;
    }
}

.uso-sub-color{
    grid-column-start: 3;

    grid-column-end: 4;
    
    grid-row-start: 5;
    
    grid-row-end: 6;

    margin-bottom: 1.3vw;
    h4{
        margin-top: 0.283vw;
    }
    .color{
        padding: 1.2vw;
    }
     .blanco{background-color: white;}
       .gris{background-color: grey;}
      .negro{background-color: black;}
      .crema{background-color: #939e2a;}
       .rojo{background-color: red;}
       .azul{background-color: blue;}
      .verde{background-color: green;}
     .morado{background-color: violet;}
    .celeste{background-color: skyblue;}


    .flex-item-tipo-pintado{
        background: tomato;

        padding: 0.2vw;
        
        color: white;
        
        font-weight: bold;
        
        font-size: 1vw;
        
        text-align: center;
        
        margin-right: 4.3vw;
        
        width: 4.3vw;
        
        height: 2.3vw;
        
        margin-bottom: 0.5vw;
    }

    .flex-item{
        width: 7.3vw;

        height: 3.3vw
    }
    .flex-item-color{
        width: 7.3vw;
        height: 2.3vw;
        padding: 0.2vw;
        margin-right: 0.3vw;
        border-radius: 70%;
    }
    .flex-item-color:first-child{
        margin-left:0.7vw;
    }
    .flex-item:first-child{
        margin-left: -2.3vw;
    }
}

.uso-sub-description{
    grid-column-start: 3;

    grid-column-end: 4;
    
    grid-row-start: 6;
    
    grid-row-end: 7;
    
    margin-top: -1.9vh;

    padding-bottom: 3.3vh;

    height: 12.2vh;

    font-size: 0.9em;

}
.uso-sub-price{
    grid-column-start: 3;

    grid-column-end: 4;
    
    grid-row-start: 7;
    
    grid-row-end: 8;
    .tprecio{
        float: left;
        margin: 3vh;
    }
    margin-top: -1.9vh;

    font-size: 0.9em;

    padding-bottom: 3.3vh;

    height: 12.2vh;

    font-size: 0.9em;
}
.oferta{
    width: 4vw;
}
.uso-sub-buttons{
    grid-column-start: 3;

    grid-column-end: 4;
    
    grid-row-start: 8;
    
    grid-row-end: 9;
    .guardar{
        height: 2vh;
    }
}