<tuheader [(header)]="header"></tuheader>
<div class="grid">
    <div class="tquien">¿Quiénes somos?</div>
    <div class="pquien">        
        <a href="assets/pdf/bienvenido.pdf" target="_blank">
            <button class="btn-inf">LEER</button>
        </a>
    </div>
    <div class="bien">
        <iframe allowFullScreen="allowFullScreen" 
            src="https://www.youtube.com/embed/ZA9Y91tBA0E?ecver=1&amp;autoplay=1&amp;iv_load_policy=1&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red" 
            allowtransparency="true" frameborder="0" style="width:33.7vw;height:100%;position: relative;z-index: 500;">
            
        </iframe>
    </div>
    <div class="mensaje-ini">
        <p>Para nosotr@s es una mejor forma de diseñar y fabricar.</p>
        <p>Para ti es una mejor forma de escoger cómo amoblar y decorar.</p>
        <p>No pierdas más tiempo.</p>
        <button (click)="registro()">REGÍSTRATE Y EMPIEZA A TUNEAR</button>
    </div>
    <!--
    <div class="p1"></div>
    <div class="p2"></div>
    <div class="p3"></div>
    <div class="p4"></div>
    <div class="p5"></div>
    -->
    
    <div class="p0">
        <div class="swiper-container-inner">
            <div class="swiper-wrapper">
                <div class="swiper-slide p1"></div>
                <div class="swiper-slide p2"></div>
                <div class="swiper-slide p3"></div>
                <div class="swiper-slide p4"></div>
                <div class="swiper-slide p5"></div>            
            </div>
    
            <div class="swiper-pagination"></div>
    
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>   

    <div class="tshowroom">Showroom virtual</div>
    <div class="pshowroom">
        <a href="http://encaja.noldev.com:8080/tienda/" target="_blank">
            <button class="btn-inf btn-show">ENTRAR</button>
        </a>
    </div>
</div>
<div class="cinta">
    <div class="cinta-1"><p>¡BIENVENID@!</p></div>
    <div class="cinta-2"></div>
</div>